# OS X
.*DS_Store

#licypse
.metadata/
.project
.pydevproject

#git
.gitignore
.gitignore.swp

#databases
first_go.sqlite
rango.db

#logfile
logfile*

#eclipse setting files 
.settings
#user database
poe_tools_auth.db

#migrations
poetools_project/rango/migrations/*
poetools_project/poe/migrations/*

#pycache
*__pycache__

#logs
test-log.log

#system files
*.swp
