#licypse
.metadata/
.project
.pydevproject

#git
.gitignore
.gitignore.swp

#databases
first_go.sqlite
rango.db

#migrations
poetools_project/rango/migrations/*

#pycache
*__pycache__

#logs
test-log.log
