<!DOCTYPE html>
{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}{{ item_name }}{% endblock %}

{% block body_block %}
    <h1>{{ item_name }}</h1>
    {% if category %}
        {% if items %}
        <ul>
                {% for item in items %}
                <li><a href="{{ item.url }}">{{ item.name }}</a></li>
                {% endfor %}
                </ul>
        {% else %}
                <strong>No pages currently in category.</strong>
                {% endif %}

        {% if user.is_authenticated %} 
                <a href="{% url 'add_page' category.slug %}">Add a Page</a>
                {% endif %}
        {% else %}
                 The specified item {{ item_name }} does not exist!
    {% endif %}

{% endblock %}