<!DOCTYPE html>
{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}{{ item_name }}{% endblock %}

{% block body_block %}
    <h1>{{ item_name }}</h1>
    {% if category %}
        
            {% if items and not sub_items %}
            <ul>
            {% for item in items %}
                <li><a href="{% url 'item' category.slug item.slug %}">{{ item.name }}</a></li>
            {% endfor %}
            </ul>
        {% endif %}
        {% if items and sub_items %}
            {% load django_tables2 %}
            {% render_table table "poe/stat_table.html" %}
			<!-- if the sub type is weapons -->
        {% else %}
                <strong>Select a sub-category to continue {{sub_types}} </strong>
        {% endif %}

        {% if user.is_authenticated %} 
            <a href="{% url 'add_page' category.slug %}">Add a Page</a>
        {% endif %}
    
        {% else %}
            The specified item {{ item_name }} does not exist!
    	{% endif %}

{% endblock %}